In [1]:
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
from pathlib import Path
import numpy as np

In [2]:
folder = "data/comp1_2020_1/"
Path(folder).mkdir(parents=True, exist_ok=True)

Lista das aulas

- 20 - (PLE) 02 - Funcoes e Tipos de dados
- 12 - (PLE) 03 - Tipos de dados, Strings, Estrutura Condicional
- 13 - (PLE) 04 - Variáveis e atribuição, strings e tuplas
- 14 - (PLE) 05 - Manipulação de strings, tuplas e listas
- 15 - (PLE) 06 - Fatiamento e manipulação de listas
- 16 - (PLE) 07 - Estrutura de repetição com teste de parada: While
- 17 - (PLE) 08 - Estrutura de repetição iteradora: for
- 19 - (PLE) 09 - Laços aninhados e matrizes
- 10 - 10 - Dicionário

In [3]:
with open(f'{folder}/dropout_df_total_and_per_week_dict_3_6.pkl', 'rb') as pklfile:
    df_total_and_per_week = pickle.load(pklfile)

In [4]:
df_total_and_per_week.columns

Index(['attempts_12', 'success_rate_12', 'avg_timedelta_to_solution_12',
       'avg_timedelta_from_beginning_12', 'on_time_exercises_12',
       'frequency_12', 'success_count_12', 'attempts_13', 'success_rate_13',
       'avg_timedelta_to_solution_13', 'avg_timedelta_from_beginning_13',
       'on_time_exercises_13', 'frequency_13', 'success_count_13',
       'attempts_14', 'success_rate_14', 'avg_timedelta_to_solution_14',
       'avg_timedelta_from_beginning_14', 'on_time_exercises_14',
       'frequency_14', 'success_count_14', 'attempts_15', 'success_rate_15',
       'avg_timedelta_to_solution_15', 'avg_timedelta_from_beginning_15',
       'on_time_exercises_15', 'frequency_15', 'success_count_15',
       'attempts_17', 'success_rate_17', 'avg_timedelta_to_solution_17',
       'avg_timedelta_from_beginning_17', 'on_time_exercises_17',
       'frequency_17', 'success_count_17', 'attempts_19', 'success_rate_19',
       'avg_timedelta_to_solution_19', 'avg_timedelta_from_beginning_19',
       'on_time_exercises_19', 'frequency_19', 'success_count_19', 'attempts',
       'success_rate', 'avg_timedelta_to_solution',
       'avg_timedelta_from_beginning', 'on_time_exercises', 'frequency',
       'success_count'],
      dtype='object')

In [5]:
df_total_and_per_week.describe()

,attempts_12,success_rate_12,avg_timedelta_to_solution_12,avg_timedelta_from_beginning_12,on_time_exercises_12,frequency_12,success_count_12,attempts_13,success_rate_13,avg_timedelta_to_solution_13,...,on_time_exercises_19,frequency_19,success_count_19,attempts,success_rate,avg_timedelta_to_solution,avg_timedelta_from_beginning,on_time_exercises,frequency,success_count
count,427.000000,354.000000,3.360000e+02,3.360000e+02,427.000000,427.000000,427.000000,427.000000,357.000000,3.530000e+02,...,427.000000,427.000000,427.000000,427.000000,379.000000,3.210000e+02,3.210000e+02,427.000000,427.000000,427.000000
mean,15.749415,0.276748,5.585893e+04,5.775738e+04,1.817330,1.245902,2.210773,37.098361,0.302309,5.774606e+04,...,3.065574,1.407494,4.035129,52.847775,0.252686,6.379628e+04,6.514594e+04,5.306792,3.131148,7.067916
std,28.166681,0.223429,3.157869e+05,3.158571e+05,1.405682,0.862876,1.241904,52.887689,0.264249,1.368085e+05,...,2.813517,1.215217,2.627265,72.227261,0.211998,1.787528e+05,1.787596e+05,4.026558,1.911576,3.706684
min,0.000000,0.000000,0.000000e+00,2.800000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,9.009849e+01,0.000000,0.000000,0.000000
25%,4.000000,0.107143,1.104425e+02,7.357762e+02,0.000000,1.000000,1.000000,7.000000,0.114754,3.689598e+02,...,0.000000,0.500000,0.000000,17.000000,0.106383,6.739452e+02,1.539758e+03,1.000000,2.000000,4.000000
50%,9.000000,0.222222,4.512617e+02,1.479540e+03,3.000000,1.000000,3.000000,20.000000,0.222222,4.805118e+03,...,4.000000,1.000000,6.000000,34.000000,0.192308,8.823278e+03,1.036868e+04,6.000000,3.000000,9.000000
75%,18.000000,0.375000,3.748889e+03,5.400861e+03,3.000000,2.000000,3.000000,44.000000,0.384615,3.967468e+04,...,6.000000,2.000000,6.000000,68.000000,0.339080,5.507646e+04,5.670455e+04,10.000000,4.000000,10.000000
max,439.000000,1.000000,4.853717e+06,4.853822e+06,3.000000,6.000000,3.000000,379.000000,1.000000,1.395349e+06,...,6.000000,6.000000,6.000000,818.000000,1.000000,2.426880e+06,2.426952e+06,10.000000,12.000000,10.000000

### Data transformation and cleaning

In [6]:
exclude = df_total_and_per_week[(df_total_and_per_week['attempts_12'] == 0) & \
                                (df_total_and_per_week['attempts_13'] == 0) & \
                                (df_total_and_per_week['attempts_14'] == 0) & \
                                (df_total_and_per_week['attempts_15'] == 0)]
dtw2 = df_total_and_per_week.drop(index=exclude.index)
dtw2
# exclude

,attempts_12,success_rate_12,avg_timedelta_to_solution_12,avg_timedelta_from_beginning_12,on_time_exercises_12,frequency_12,success_count_12,attempts_13,success_rate_13,avg_timedelta_to_solution_13,...,on_time_exercises_19,frequency_19,success_count_19,attempts,success_rate,avg_timedelta_to_solution,avg_timedelta_from_beginning,on_time_exercises,frequency,success_count
910,8,0.375000,65.386857,328.720191,3,1,3,24,0.291667,291.476823,...,6,1,6,32,0.312500,223.649833,519.849833,10,2,10
911,4,0.750000,132.823499,684.156833,3,1,3,36,0.194444,23916.274449,...,6,2,6,40,0.250000,16781.239164,17381.439164,10,3,10
912,6,0.500000,24.270101,207.270101,3,1,3,7,1.000000,0.000000,...,6,1,6,13,0.769231,7.281030,141.581030,10,2,10
914,9,0.333333,430.621847,918.621847,3,1,3,91,0.076923,40044.526822,...,6,2,6,100,0.100000,28160.355329,28983.855329,10,4,10
915,8,0.375000,124.739469,243.072802,3,1,3,12,0.416667,18.759911,...,5,1,5,20,0.400000,58.502245,167.252245,8,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,0,NaN,NaN,NaN,0,3,0,0,NaN,NaN,...,0,0,0,0,NaN,NaN,NaN,0,3,0
1403,0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,...,5,1,5,0,NaN,NaN,NaN,0,0,0
1405,6,0.500000,32.428669,655.095336,0,2,3,22,0.181818,26859.988079,...,0,0,0,28,0.250000,15362.462618,15919.319761,0,7,7
1407,56,0.053571,2124.487458,3170.154125,0,1,3,0,NaN,NaN,...,0,0,0,56,0.053571,NaN,NaN,0,3,3
1409,0,NaN,NaN,NaN,0,0,0,1,1.000000,0.000000,...,0,0,0,1,1.000000,NaN,NaN,0,1,1

In [7]:
dtw2.columns

Index(['attempts_12', 'success_rate_12', 'avg_timedelta_to_solution_12',
       'avg_timedelta_from_beginning_12', 'on_time_exercises_12',
       'frequency_12', 'success_count_12', 'attempts_13', 'success_rate_13',
       'avg_timedelta_to_solution_13', 'avg_timedelta_from_beginning_13',
       'on_time_exercises_13', 'frequency_13', 'success_count_13',
       'attempts_14', 'success_rate_14', 'avg_timedelta_to_solution_14',
       'avg_timedelta_from_beginning_14', 'on_time_exercises_14',
       'frequency_14', 'success_count_14', 'attempts_15', 'success_rate_15',
       'avg_timedelta_to_solution_15', 'avg_timedelta_from_beginning_15',
       'on_time_exercises_15', 'frequency_15', 'success_count_15',
       'attempts_17', 'success_rate_17', 'avg_timedelta_to_solution_17',
       'avg_timedelta_from_beginning_17', 'on_time_exercises_17',
       'frequency_17', 'success_count_17', 'attempts_19', 'success_rate_19',
       'avg_timedelta_to_solution_19', 'avg_timedelta_from_beginning_19',
       'on_time_exercises_19', 'frequency_19', 'success_count_19', 'attempts',
       'success_rate', 'avg_timedelta_to_solution',
       'avg_timedelta_from_beginning', 'on_time_exercises', 'frequency',
       'success_count'],
      dtype='object')

In [8]:
dtw2['success_count_label'] = dtw2['success_count_17'] + dtw2['success_count_19']

In [9]:
dtw2[dtw2['success_count_label'] >= 6]

,attempts_12,success_rate_12,avg_timedelta_to_solution_12,avg_timedelta_from_beginning_12,on_time_exercises_12,frequency_12,success_count_12,attempts_13,success_rate_13,avg_timedelta_to_solution_13,...,frequency_19,success_count_19,attempts,success_rate,avg_timedelta_to_solution,avg_timedelta_from_beginning,on_time_exercises,frequency,success_count,success_count_label
910,8,0.375000,65.386857,328.720191,3,1,3,24,0.291667,291.476823,...,1,6,32,0.312500,223.649833,519.849833,10,2,10,12
911,4,0.750000,132.823499,684.156833,3,1,3,36,0.194444,23916.274449,...,2,6,40,0.250000,16781.239164,17381.439164,10,3,10,12
912,6,0.500000,24.270101,207.270101,3,1,3,7,1.000000,0.000000,...,1,6,13,0.769231,7.281030,141.581030,10,2,10,12
914,9,0.333333,430.621847,918.621847,3,1,3,91,0.076923,40044.526822,...,2,6,100,0.100000,28160.355329,28983.855329,10,4,10,12
915,8,0.375000,124.739469,243.072802,3,1,3,12,0.416667,18.759911,...,1,5,20,0.400000,58.502245,167.252245,8,2,8,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,0,NaN,NaN,NaN,0,0,0,4,1.000000,0.000000,...,2,6,4,1.000000,NaN,NaN,0,1,4,12
1393,0,NaN,NaN,NaN,0,0,0,4,1.000000,0.000000,...,0,0,4,1.000000,NaN,NaN,0,1,4,6
1394,0,NaN,NaN,NaN,0,1,0,22,0.318182,579.336000,...,1,6,22,0.318182,NaN,NaN,0,1,7,12
1395,0,NaN,NaN,NaN,0,0,0,24,0.250000,662.663426,...,1,5,24,0.250000,NaN,NaN,0,1,6,11
1403,0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,...,1,5,0,NaN,NaN,NaN,0,0,0,11

# Semana 3

Somente on_time

In [15]:
# Features and fill missing data
features_week4 = dtw2[['on_time_exercises_12',
                      ]].reset_index(drop=True)

# Target
outcome_week4 = dtw2['success_count_label'].reset_index(drop=True)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(features_week4, outcome_week4, test_size=0.2)
idx = np.array(X_train.index.tolist())

In [17]:
X_train_const = sm.add_constant(X_train)
model = sm.OLS(y_train, X_train_const).fit()
X_test_const = sm.add_constant(X_test)
y_pred_ols = model.predict(X_test_const)
rmse = mean_squared_error(y_test, y_pred_ols, squared=False)
print("RMSE: %.2f" % rmse)
model.summary()

RMSE: 3.96

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
===============================================================================
Dep. Variable:     success_count_label   R-squared:                       0.126
Model:                             OLS   Adj. R-squared:                  0.123
Method:                  Least Squares   F-statistic:                     46.95
Date:                 Mon, 29 Nov 2021   Prob (F-statistic):           3.64e-11
Time:                         18:33:35   Log-Likelihood:                -962.32
No. Observations:                  328   AIC:                             1929.
Df Residuals:                      326   BIC:                             1936.
Df Model:                            1
Covariance Type:             nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    6.2318      0.415     15.031      0.000       5.416       7.047
on_time_exercises_12     1.2395      0.181      6.852      0.000       0.884       1.595
==============================================================================
Omnibus:                       34.102   Durbin-Watson:                   2.141
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.720
Skew:                          -0.758   Prob(JB):                     1.75e-08
Kurtosis:                       2.439   Cond. No.                         4.25
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
with open("%s/model_week4.pkl" % folder, "wb") as pklfile:
    pickle.dump(model, pklfile)

In [19]:
n_medio = 0
medio = 0
n_baixo = 0
baixo = 0
n_alto = 0
alto = 0
for n in range(len(y_test)):
    if y_pred_ols.tolist()[n] < 7:
        baixo += 1
        if y_test.tolist()[n] < 4:
            n_baixo += 1
    elif y_pred_ols.tolist()[n] < 9:
        medio += 1
        if y_test.tolist()[n] < 4:
            n_medio += 1
    else:
        alto += 1
        if y_test.tolist()[n] < 4:
            n_alto += 1
        
print(f'Risco baixo: {n_baixo}/{baixo} ({100*n_baixo/baixo}%)')
print(f'Risco médio: {n_medio}/{medio} ({100*n_medio/medio}%)')
print(f'Risco médio: {n_alto}/{alto} ({100*n_alto/alto}%)')

Risco baixo: 10/21 (47.61904761904762%)
Risco médio: 1/4 (25.0%)
Risco médio: 5/57 (8.771929824561404%)

In [20]:
y_pred_ols.unique()

array([6.23182504, 9.95022397, 8.71075766])