In [1]:
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import (mean_squared_error, plot_confusion_matrix, plot_roc_curve, 
                             classification_report, precision_recall_curve, confusion_matrix)
import statsmodels.api as sm
from pathlib import Path
import numpy as np
import seaborn as sns

In [2]:
folder = "data/comp1_2020_1/"
Path(folder).mkdir(parents=True, exist_ok=True)

In [3]:
with open(f'{folder}/dropout_df_total_and_per_week_dict_3_6.pkl', 'rb') as pklfile:
    df_total_and_per_week = pickle.load(pklfile)

In [4]:
exclude = df_total_and_per_week[(df_total_and_per_week['attempts_12'] == 0) & \
                                (df_total_and_per_week['attempts_13'] == 0) & \
                                (df_total_and_per_week['attempts_14'] == 0) & \
                                (df_total_and_per_week['attempts_15'] == 0)]
dtw2 = df_total_and_per_week.drop(index=exclude.index)
dtw2

,attempts_12,success_rate_12,avg_timedelta_to_solution_12,avg_timedelta_from_beginning_12,on_time_exercises_12,frequency_12,success_count_12,attempts_13,success_rate_13,avg_timedelta_to_solution_13,...,on_time_exercises_19,frequency_19,success_count_19,attempts,success_rate,avg_timedelta_to_solution,avg_timedelta_from_beginning,on_time_exercises,frequency,success_count
910,8,0.375000,65.386857,328.720191,3,1,3,24,0.291667,291.476823,...,6,1,6,32,0.312500,223.649833,519.849833,10,2,10
911,4,0.750000,132.823499,684.156833,3,1,3,36,0.194444,23916.274449,...,6,2,6,40,0.250000,16781.239164,17381.439164,10,3,10
912,6,0.500000,24.270101,207.270101,3,1,3,7,1.000000,0.000000,...,6,1,6,13,0.769231,7.281030,141.581030,10,2,10
914,9,0.333333,430.621847,918.621847,3,1,3,91,0.076923,40044.526822,...,6,2,6,100,0.100000,28160.355329,28983.855329,10,4,10
915,8,0.375000,124.739469,243.072802,3,1,3,12,0.416667,18.759911,...,5,1,5,20,0.400000,58.502245,167.252245,8,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,0,NaN,NaN,NaN,0,3,0,0,NaN,NaN,...,0,0,0,0,NaN,NaN,NaN,0,3,0
1403,0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,...,5,1,5,0,NaN,NaN,NaN,0,0,0
1405,6,0.500000,32.428669,655.095336,0,2,3,22,0.181818,26859.988079,...,0,0,0,28,0.250000,15362.462618,15919.319761,0,7,7
1407,56,0.053571,2124.487458,3170.154125,0,1,3,0,NaN,NaN,...,0,0,0,56,0.053571,NaN,NaN,0,3,3
1409,0,NaN,NaN,NaN,0,0,0,1,1.000000,0.000000,...,0,0,0,1,1.000000,NaN,NaN,0,1,1

In [5]:
dtw2.columns

Index(['attempts_12', 'success_rate_12', 'avg_timedelta_to_solution_12',
       'avg_timedelta_from_beginning_12', 'on_time_exercises_12',
       'frequency_12', 'success_count_12', 'attempts_13', 'success_rate_13',
       'avg_timedelta_to_solution_13', 'avg_timedelta_from_beginning_13',
       'on_time_exercises_13', 'frequency_13', 'success_count_13',
       'attempts_14', 'success_rate_14', 'avg_timedelta_to_solution_14',
       'avg_timedelta_from_beginning_14', 'on_time_exercises_14',
       'frequency_14', 'success_count_14', 'attempts_15', 'success_rate_15',
       'avg_timedelta_to_solution_15', 'avg_timedelta_from_beginning_15',
       'on_time_exercises_15', 'frequency_15', 'success_count_15',
       'attempts_17', 'success_rate_17', 'avg_timedelta_to_solution_17',
       'avg_timedelta_from_beginning_17', 'on_time_exercises_17',
       'frequency_17', 'success_count_17', 'attempts_19', 'success_rate_19',
       'avg_timedelta_to_solution_19', 'avg_timedelta_from_beginning_19',
       'on_time_exercises_19', 'frequency_19', 'success_count_19', 'attempts',
       'success_rate', 'avg_timedelta_to_solution',
       'avg_timedelta_from_beginning', 'on_time_exercises', 'frequency',
       'success_count'],
      dtype='object')