In [99]:
from spkit import bkt
import pandas as pd
import re
import numpy as np

In [126]:
df_all = pd.read_csv('algebra_2005_2006_train.txt', delimiter='\t')
df_all.shape

(809694, 19)

In [127]:
df = df_all[['Anon Student Id', 'Problem Hierarchy', 'Problem Name', 'Problem View', 'Step Name', 'KC(Default)']]

In [128]:
df = df.dropna()

In [129]:
df.shape

(607025, 6)

In [27]:
df_temp = df.head()

pandas.core.frame.DataFrame

In [69]:
df_temp

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,1,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,3(x+2) = 15,2005-09-09 12:24:35.0,2005-09-09 12:24:49.0,2005-09-09 12:25:15.0,2005-09-09 12:25:15.0,40.0,NaN,40.0,0,2,3,1,[SkillRule: Eliminate Parens; {CLT nested; CLT...,1
1,2,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,x+2 = 5,2005-09-09 12:25:15.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,16.0,16.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",1~~1
2,3,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,2-8y = -4,2005-09-09 12:25:36.0,2005-09-09 12:25:43.0,2005-09-09 12:26:12.0,2005-09-09 12:26:12.0,36.0,NaN,36.0,0,2,3,1,"[SkillRule: Remove constant; {ax+b=c, positive...",2
3,4,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,-8y = -6,2005-09-09 12:26:12.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,22.0,22.0,NaN,1,0,0,1,"[SkillRule: Remove coefficient; {ax+b=c, divid...",1~~1
4,5,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,2,-7y-5 = -4,2005-09-09 12:26:38.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,118.0,118.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",3~~1

In [130]:
skipped = []
def get_kcs(row):
    kc_list = row['KC(Default)'].split('~~')
    kc = []
    for item in kc_list:
        try:
            kc.append(re.findall(r'^\[SkillRule: ([\w ]+);.*', item, flags=re.M)[0])
        except IndexError:
            skipped.append(item)
    return "~".join(kc)

def get_steps(row):
    step = row['Problem Hierarchy'] + '_' + row["Problem Name"] + '_' + row['Step Name']
    return step

In [131]:
# df_temp['KC'] = df_temp.apply(get_kcs, axis=1)
# df_temp['step'] = df_temp.apply(get_steps, axis=1)
df['KC'] = df.apply(get_kcs, axis=1)
df['step'] = df.apply(get_steps, axis=1)

In [95]:
df_temp

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),KC,step
0,1,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,3(x+2) = 15,2005-09-09 12:24:35.0,2005-09-09 12:24:49.0,2005-09-09 12:25:15.0,2005-09-09 12:25:15.0,...,NaN,40.0,0,2,3,1,[SkillRule: Eliminate Parens; {CLT nested; CLT...,1,Eliminate Parens,"Unit ES_04, Section ES_04-1_EG4-FIXED_3(x+2) = 15"
1,2,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,x+2 = 5,2005-09-09 12:25:15.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,...,16.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",1~~1,Remove constant~Isolate positive,"Unit ES_04, Section ES_04-1_EG4-FIXED_x+2 = 5"
2,3,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,2-8y = -4,2005-09-09 12:25:36.0,2005-09-09 12:25:43.0,2005-09-09 12:26:12.0,2005-09-09 12:26:12.0,...,NaN,36.0,0,2,3,1,"[SkillRule: Remove constant; {ax+b=c, positive...",2,Remove constant,"Unit ES_04, Section ES_04-1_EG40_2-8y = -4"
3,4,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,-8y = -6,2005-09-09 12:26:12.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,...,22.0,NaN,1,0,0,1,"[SkillRule: Remove coefficient; {ax+b=c, divid...",1~~1,Remove coefficient~Remove negative coefficient,"Unit ES_04, Section ES_04-1_EG40_-8y = -6"
4,5,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,2,-7y-5 = -4,2005-09-09 12:26:38.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,...,118.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",3~~1,Remove constant,"Unit ES_04, Section ES_04-1_EG40_-7y-5 = -4"

In [132]:
# kcs = df_temp['KC'].unique().tolist()
# steps = df_temp['step'].unique().tolist()
kcs = df['KC'].unique().tolist()
steps = df['step'].unique().tolist()
# steps

In [133]:
q_matrix = np.zeros((len(steps), len(kcs)))
# for idx, item in df_temp.iterrows():
for idx, item in df.iterrows():
    step_row = steps.index(item['step'])
    kc_col = kcs.index(item['KC'])
    q_matrix[step_row, kc_col] = 1

In [134]:
q_matrix.shape

(176630, 62)