In [1]:
from spkit import pfa
import pandas as pd
import re
import numpy as np
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
import pickle

### Reading created files

In [2]:
folder = 'data/dummy/'

In [3]:
df = pd.read_csv("%s/data.csv" % folder)
df

   user  item  skill  correct  wins  fails
0     1     1      1        1     0      0
1     1     2      2        0     0      0
2     2     1      1        0     0      0
3     2     1      1        1     0      1
4     2     2      2        0     0      0

In [4]:
df['question_id'] = df['item']-1
data = df[['correct', 'user', 'question_id']]
q_matrix = np.asarray([[1,1], [0,1]])
data = data.values.tolist()
data

[[1, 1, 0], [0, 1, 1], [0, 2, 0], [1, 2, 0], [0, 2, 1]]

In [5]:
%%time
# Instantiate model
model = pfa.PFA()
model.params = {}
pfa_onehot = model._transform_data(data, q_matrix)
pfa_onehot

Applying to 8 rows
Onehot created
Index reseted
Extended df
Concat df
DONE
CPU times: user 15.6 ms, sys: 15.6 ms, total: 31.2 ms
Wall time: 11.8 ms

,index,skill,wins,fails,outcome,skills_0,skills_1,wins_0,wins_1,fails_0,fails_1
0,0,0,0,0,1,1,0,0,0,0,0
1,0,1,0,0,1,0,1,0,0,0,0
2,1,1,1,0,0,0,1,0,1,0,0
3,2,0,0,0,0,1,0,0,0,0,0
4,2,1,0,0,0,0,1,0,0,0,0
5,3,0,0,1,1,1,0,0,0,1,0
6,3,1,0,1,1,0,1,0,0,0,1
7,4,1,1,1,0,0,1,0,1,0,1

In [7]:
%%time
# Instantiate model
model = pfa.PFA()
model.params = {}
pfa_onehot = model._transform_data(data, q_matrix, n_jobs=4)
pfa_onehot

Using 4 splits and 4 jobs
Applying to 2 rows
Applying to 2 rows
Applying to 2 rows
Applying to 2 rows
Onehot created
Index reseted
Extended df
Onehot created
Index reseted
Concat df
Onehot created
Onehot created
Index reseted
Index reseted
Extended df
Extended df
Concat df
Extended df
Concat df
Concat df
DONE

ValueError: Cannot convert non-finite values (NA or inf) to integer