In [6]:
import psycopg2
import pickle
import qgrid

In [7]:
import pickle

with open("clustering_bcc.pkl", "rb") as pklfile:
    df = pickle.load(pklfile)

In [9]:
qgrid.show_grid(df)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [19]:
connection = psycopg2.connect(user = "machineteaching",
                                  password = "***REMOVED***",
                                  host = "localhost",
#                                   port = "5432",
                                  database = "machineteaching")
connection.autocommit=True
cursor = connection.cursor()

In [22]:
create_table_query = '''CREATE TABLE EXPERIMENTS
    (EXPERIMENT_ID SERIAL PRIMARY KEY,
    DATASET TEXT NOT NULL,
    X REAL ARRAY NOT NULL,
    Y REAL ARRAY NOT NULL,
    VECTORIZER TEXT NOT NULL,
    IS_BINARY BOOLEAN NOT NULL,
    MIN_DF REAL NOT NULL,
    DISTANCE TEXT NOT NULL,
    K INTEGER NOT NULL,
    METHOD TEXT NOT NULL,
    MODEL TEXT NOT NULL,
    GAP REAL NOT NULL,
    GAP_STD REAL NOT NULL,
    GAP_TIME REAL NOT NULL,
    SILHOUETTE REAL NOT NULL,
    SILHOUETTE_SAMPLES REAL ARRAY NOT NULL,
    SILHOUETTE_TIME REAL NOT NULL,
    COHERENCE_SAMPLES REAL ARRAY NOT NULL,
    COHERENCE_MED REAL NOT NULL,
    COHERENCE_STD REAL NOT NULL,
    COHERENCE_TIME REAL NOT NULL,
    COHERENCE_K INTEGER NOT NULL)
    '''

cursor.execute(create_table_query)
connection.commit()

In [108]:
insert_table = """INSERT INTO EXPERIMENTS  (
    DATASET,
    X,
    Y,
    VECTORIZER,
    IS_BINARY,
    MIN_DF,
    DISTANCE,
    K,
    METHOD,
    MODEL,
    GAP,
    GAP_STD,
    GAP_TIME,
    SILHOUETTE,
    SILHOUETTE_SAMPLES,
    SILHOUETTE_TIME,
    COHERENCE_SAMPLES,
    COHERENCE_MED,
    COHERENCE_STD,
    COHERENCE_TIME,
    COHERENCE_K) 
    VALUES (
        %s,
        )
""" % insert_query

# d = cursor.mogrify(insert_table)
# print(d)

In [58]:
for idx in range(df.shape[0]):
    values = []
    for col in df.columns:
        values.append("%s" % (df[col].values.tolist()[idx]))
    break
t = ", ".join(values)

In [92]:
cursor.mogrify("SELECT %s;", ([[10, 20, 30],[1,2,3]], ))

b'SELECT ARRAY[ARRAY[10,20,30],ARRAY[1,2,3]];'

In [100]:
import numpy as np

In [106]:
for row in df.iterrows():
    query = []
    for col in df.columns:
        if isinstance(row[1][col], np.ndarray):
            value = cursor.mogrify("%s", (row[1][col].tolist(),))
        else:
            value = value
        query.append(value)
    break
insert_query = b", ".join(query)

In [91]:
cursor.mogrify("SELECT %s;", ([[1,2,3],[10, 20, 30]], ))

b'SELECT ARRAY[ARRAY[1,2,3],ARRAY[10,20,30]];'

In [110]:
insert_table

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [109]:
cursor.execute(insert_table)

ProgrammingError: syntax error at or near ")"
LINE 25:         )
                 ^

In [40]:
cursor.mogrify("""INSERT INTO EXPERIMENTS (X) VALUES (%s)""" % df['X'].values.tolist()[0])
# df['X'].values.tolist()[0]

b'INSERT INTO EXPERIMENTS (X) VALUES ([[1 0 1 ... 0 0 0]\n [0 1 0 ... 1 0 0]\n [1 0 0 ... 1 1 0]\n ...\n [0 0 0 ... 1 0 0]\n [0 0 0 ... 0 1 1]\n [1 0 0 ... 1 1 1]])'

In [42]:
df.values.tolist()[0]

TypeError: sequence item 0: expected str instance, numpy.ndarray found

In [26]:
 from sqlalchemy import create_engine

In [27]:
# psycopg2
engine = create_engine('postgresql+psycopg2://machineteaching:***REMOVED***@localhost/machineteaching')

In [63]:
df.to_sql('experiments', con=engine, if_exists='append', dtype={"X": "ARRAY"})

ValueError: The type of X is not a SQLAlchemy type